@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Oranienbaum&family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto+Condensed:wght@400;500;600;700&display=swap');
@import './_globals';

* {
  margin: 0;
  font-family: Roboto Condensed;
}

body {
  background-color: rgba(245, 246, 250, 1);
}

html {
  font-size: 16px;
}

.tags-project {
  text-wrap: nowrap;
  background-color: white;
  height: fit-content;
  border-radius: 18px;
  padding: 8px;
  font-weight: 600;
  font-size: 9px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

input {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: inherit;
  color: inherit;

  &::placeholder {
    color: var(--gray5);
  }
}

.container-sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px calc(100% - 1290px);
  margin: 10px auto;

  &__title {
    font-size: 3.3rem;
    font-weight: 400;
  }

  &__block {
    display: flex;
    gap: 30px;
    margin-top: 40px;

    &-left {
      display: flex;
      border-radius: 12px;
      justify-content: center;
      width: 534px;
      height: 296px;
      flex-direction: column;
      background-image: url(./img/House1.jpg);
      background-repeat: no-repeat;
      color: var(--white);

      &-content {
        display: flex;
        position: relative;
        left: 43px;
        gap: 20px;
        flex-direction: column;
        width: 60%;
        &-p {
          font-size: 0.9rem;
        }

        &-btn {
          color: black;
          font-size: 0.9rem;
          border-radius: 5px;
          padding: 14px 58px;
          background-color: var(--white);
          font-weight: 700;
          width: fit-content;
          text-wrap: nowrap;
        }

        &-t {
          font-size: 1.4rem;
        }
      }
    }

    &-right {
      display: flex;
      justify-content: center;
      border-radius: 12px;
      width: 534px;
      height: 296px;
      background-repeat: no-repeat;
      flex-direction: column;
      background-image: url(./img/House2.jpg);
      color: var(--white);

      &-content {
        display: flex;
        gap: 20px;
        position: relative;
        left: 43px;
        flex-direction: column;
        width: 60%;

        &-p {
          font-size: 0.9rem;
        }

        &-btn {
          color: black;
          font-size: 0.9rem;
          border-radius: 5px;
          padding: 14px 58px;
          background-color: var(--white);
          font-weight: 700;
          width: fit-content;
          text-wrap: nowrap;
        }

        &-t {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 993px) {
  .container-sale {
    &__title {
      font-size: 2.5rem;
    }

    &__block {
      margin: 30px;

      &-left {
        width: 100%;
      }
      &-right {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .container-sale {
    &__title {
      font-size: 1.8rem;
    }

    &__block {
      flex-direction: column;
    }
  }
}

.container-price {
  display: flex;
  flex-direction: column;
  gap: 47px;
  padding: 38px calc(100% - 1290px);

  &-adap {
    display: flex;
    gap: 31px;
  }

  &__title {
    text-align: center;
    font-size: 3.3rem;
    font-weight: 400;
  }

  &__blocks {
    display: flex;
    gap: 31px;

    &-combo {
      display: flex;
      flex-direction: column;
      gap: 31px;

      &-big {
        background-image: url(./img/House3.jpg);
        background-repeat: no-repeat;
        height: 351px;
        width: 348px;

        &-content {
          position: relative;
          top: 45px;
          left: 44px;
          width: 80%;
          display: flex;
          gap: 32px;
          margin-bottom: 121px;

          &-t {
            font-size: 30px;
            color: var(--white);
          }
        }

        &-bottom {
          position: relative;
          left: 44px;
          top: 30px;
          display: flex;
          width: fit-content;
          flex-direction: column;
          gap: 11px;
          color: var(--white);

          &-s {
            font-size: 13px;
            font-weight: 400;
          }

          &-b {
            font-size: 30px;
            font-weight: 700;
          }

          &-btn {
            padding: 14px 30px;
            border-radius: 4px;
            font-size: 10px;
            font-weight: 700;
            color: var(--white);
            background-color: var(--green);
          }
        }
      }

      &-little {
        background-image: url(./img/House4.jpg);
        background-repeat: no-repeat;
        width: 348px;
        height: 160px;

        &:nth-child(1) {
          background-image: url(./img/House5.jpg);
        }
        &:nth-child(2) {
          background-image: url(./img/House6.jpg);
        }
        &:nth-child(3) {
          background-image: url(./img/House7.jpg);
        }

        &-content {
          position: relative;
          top: 29px;
          left: 44px;
          display: flex;
          gap: 40px;
          width: 80%;
          margin-bottom: 28px;

          &-t {
            color: var(--white);
            font-size: 23px;
          }
        }

        &-bottom {
          display: flex;
          gap: 20px;
          position: relative;
          left: 44px;
          top: 30px;

          &-btn {
            color: var(--white);
            border-radius: 4px;
            background-color: var(--green);
            font-size: 10px;
            font-weight: 700;
            padding: 11px 16px;
            margin-right: 13px;
          }

          &-s {
            color: var(--white);
            font-size: 13px;
          }

          &-b {
            font-size: 23px;
          }
        }
      }
    }
  }

  &__blocks2 {
    display: flex;
    flex-direction: column;
    gap: 31px;
  }

  &__blocks3 {
    display: flex;
    flex-direction: column;
    gap: 31px;

    &-combo-little {
      background-image: url(./img/House8.jpg);
      background-repeat: no-repeat;
      width: 348px;
      height: 160px;
    }
  }
}

@media screen and (max-width: 992px) {
  .container-price {
    padding: 38px 125px;

    &__title {
      font-size: 2rem;
    }

    &-adap {
      flex-direction: column;
    }

    &__blocks3 {
      width: 727px;
      flex-direction: row;
    }
  }
}

@media screen and (max-width: 576px) {
  .container-price {
    padding: 38px 108px;

    &__title {
      font-size: 1.5rem;
    }

    &__blocks {
      flex-direction: column;
    }

    &-adap {
      flex-direction: column;
    }

    &__blocks3 {
      width: 727px;
      flex-direction: column;
    }
  }
}

.container-pasthouses {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 38px calc(100% - 1290px);

  &__title {
    width: 90%;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
  }

  &__blocks {
    display: flex;
    gap: 30px;

    &-left {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;

      &-tags {
        width: fit-content;
        border-radius: 13px;
        position: absolute;
        top: 33px;
        left: 292px;
        background-color: white;
        padding: 8px 30px;
        color: rgba(51, 52, 56, 1);
        font-weight: 400;
        font-size: 0.8rem;
      }

      &-top {
        background-image: url(./img/House9.jpg);
        background-size: cover;
        width: 535px;
        height: 346px;
      }

      &-bottom {
        display: flex;
        gap: 12px;

        &-img {
          background-image: url(./img/House10.jpg);
          width: 125px;
          height: 80px;
        }
      }
    }
    &-right {
      &-arrow {
        position: relative;
        left: 30px;
        top: 10px;
      }

      &-top {
        display: flex;
        flex-direction: column;
        gap: 18px;

        &-map {
          display: flex;
          gap: 14px;

          &-p {
            color: rgba(133, 183, 62, 1);
            border-bottom: 1px dotted rgba(133, 183, 62, 1);
          }
        }

        &-title {
          width: 80%;
          font-size: 2rem;
          color: rgba(76, 79, 86, 1);
          font-weight: 600;
        }

        &-content {
          display: flex;
          gap: 40px;
          text-wrap: nowrap;

          &-block {
            display: flex;
            flex-direction: column;
            gap: 10px;

            &-t {
              font-size: 0.9rem;
              color: rgba(142, 144, 147, 1);
            }

            &-n {
              color: rgba(67, 71, 73, 1);
              font-weight: 400;
              font-size: 1.8rem;
            }
          }
        }
      }

      &-bottom {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        gap: 50px;

        &-content {
          display: flex;
          gap: 68px;

          &-left {
            &-t {
              color: rgba(86, 89, 95, 1);
              font-size: 1.1rem;
              font-weight: 400;
            }
          }
        }

        &-block {
          display: flex;
          gap: 40px;

          &-t {
            font-size: 1.1rem;
            width: 50%;
            color: rgba(86, 89, 95, 1);
          }

          &-btn {
            text-wrap: nowrap;
            display: flex;
            gap: 20px;
            color: white;
            font-size: 0.9rem;
            background-color: rgba(254, 170, 1, 1);
            border-radius: 6px;
            padding: 13px 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container-pasthouses {
    &__title {
      font-size: 2rem;
    }

    &__blocks {
      gap: ;
      &-right {
        &-arrow {
          left: 10px;
        }
        &-top {
          &-content {
            gap: 25px;

            &-block {
              &-t {
                font-size: 0.7rem;
              }
              &-n {
                font-size: 1.3rem;
              }
            }
          }
        }
        &-bottom {
          &-block {
            &-btn {
              height: fit-content;
              margin-left: -65px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .container-pasthouses {
    padding: 38px calc(100% - 550px);

    &__title {
      width: 70%;
      font-size: 1.3rem;
    }

    &__blocks {
      flex-direction: column;
    }
  }
}
